[Desktop Entry]
Name=Just Focus
Comment=A distraction-free focus timer
Exec=${SNAP}/usr/bin/run.sh
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Time;Productivity;
Keywords=focus,timer,productivity,clock,countdown
